<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#08090D" />
    <link rel="pre-connect" href="https://fonts.googleapis.com">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <title>Analytics &bull; ECHO</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/_utility.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/analytics.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='res/analytics.css') }}">

    <link rel="manifest" href="/static/manifest.json" />
</head>

<body>
    {% include 'components/msg.html' %}
    <div class="toast-container column gap-12"></div>

    {% include 'components/header.html' %}

    <main class="main flex gap-20 p-20 min-h-0">
        <aside class="sidebar rounded-16 p-16 bg-card w-full h-full min-h-0 column gap-16 shadow">
            <div class="head row h-sb">
                <div class="left-row row gap-12">
                    <span class="symbol">orders</span>
                    <h3 class="h3">Products</h3>
                </div>

                <span class="mini ph-12 pv-8 rounded-full bg-tertiary">{{ data.products_qty }} Products</span>
            </div>

            <input type="search" id="searchProduct" class="input" placeholder="Search by name">

            <div class="body column gap-12">
                {% for order in data.orders_info %}
                <div class="product-info row h-sb">
                    <div class="left-side">
                        <p class="para fw-500 product-title">{{ order.title }}</p>
                        <p class="para">₹ {{ order.price }}</p>
                    </div>

                    <div class="right-side text-right">
                        <p class="para">₹ {{ order.sales }}</p>
                        <p class="para">{{ order.orders }} order(s)</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </aside>

        <section class="analytics_content column gap-20 w-full">
            <div class="head res-row h-sb gap-12">
                <h1 class="h1">Analytics</h1>

                <a href="{{ url_for('app.download_analytics') }}" class="link btn icon-fl rounded-8 ph-12 pv-8">
                    <span class="text">Export</span>
                    <span class="symbol">download</span>
                </a>
            </div>

            <div class="info-grid grid cols-auto-320 gap-20">
                <div class="info-card rounded-16 p-16 bg-card column gap-24 shadow">
                    <div class="head row h-sb">
                        <div class="left-row column gap-4">
                            <span class="mini uppercase">Current year's Orders</span>
                            <h1 class="h1">{{ data.orders.yearly }}</h1>
                        </div>

                        <div class="icon-content p-12 rounded-12">
                            <span class="symbol">calendar_month</span>
                        </div>
                    </div>

                    <div class="body row h-sb">
                        <span class="text ph-12 pv-8 rounded-full info_text" id="deltaYearly">+ 0%</span>
                        <span class="text">vs last year</span>
                    </div>
                </div>

                <div class="info-card rounded-16 p-16 bg-card column gap-24 shadow">
                    <div class="head row h-sb">
                        <div class="left-row column gap-4">
                            <span class="mini uppercase">Current month's Orders</span>
                            <h1 class="h1">{{ data.orders.monthly }}</h1>
                        </div>

                        <div class="icon-content p-12 rounded-12">
                            <span class="symbol">date_range</span>
                        </div>
                    </div>

                    <div class="body row h-sb">
                        <span class="text ph-12 pv-8 rounded-full info_text" id="deltaMonthly">+ 0%</span>
                        <span class="text">vs last month</span>
                    </div>
                </div>

                <div class="info-card rounded-16 p-16 bg-card column gap-24 shadow">
                    <div class="head row h-sb">
                        <div class="left-row column gap-4">
                            <span class="mini uppercase">Failed orders</span>
                            <h1 class="h1">{{ data.orders.failed }}</h1>
                        </div>

                        <div class="icon-content p-12 rounded-12">
                            <span class="symbol">exclamation</span>
                        </div>
                    </div>

                    <div class="body row h-sb">
                        <span class="text ph-12 pv-8 rounded-full info_text" id="deltaFailed">+ 0%</span>
                        <span class="text">vs last month</span>
                    </div>
                </div>
            </div>

            <div class="analytics-table column gap-24 p-16 rounded-16 bg-card shadow h-full">
                <div class="analytics-head row h-sb">
                    <h3 class="h3">Orders</h3>

                    <div class="res-row gap-12">
                        <div class="row gap-8">
                            <label for="fromDate">From</label>
                            <input type="date" id="fromDate" class="input">
                        </div>

                        <div class="row gap-8">
                            <label for="toDate">To</label>
                            <input type="date" id="toDate" class="input">
                        </div>
                    </div>
                </div>

                <div class="analytics-body">
                    <div class="analytics-row row-head grid cols-4 p-12">
                        <span class="text">Id</span>
                        <span class="text">Date</span>
                        <span class="text">Amount</span>
                        <span class="text">Status</span>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="module" src="{{ url_for('static', filename='js/components/toast.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/analytics.js') }}"></script>
</body>

</html>