<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#08090D" />
    <link rel="pre-connect" href="https://fonts.googleapis.com">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <title>Billing &bull; ECHO</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/_utility.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/billing.css') }}">

    <link rel="manifest" href="/static/manifest.json" />
</head>

<body>
    {% include 'components/msg.html' %}
    <div class="toast-container column gap-12"></div>

    {% include 'components/header.html' %}

    <main class="main">
        <section class="section p-48 column gap-32 min-h-0">
            <h1 class="h1">Billing</h1>

            <div class="info-grid grid gap-20">
                <div class="info flex gap-12 p-12 rounded-16 bg-card">
                    <span class="symbol p-16 rounded-8 h-fit" style="--bg: #044389;">topic</span>

                    <div class="text-content column gap-4">
                        <h2 class="h2">{{ current_user.plan }}</h2>
                        <span class="text">Selected plan</span>
                    </div>
                </div>

                <div class="info flex gap-12 p-12 rounded-16 bg-card">
                    <span class="symbol p-16 rounded-8 h-fit" style="--bg: #C3423F;">bolt</span>

                    <div class="text-content column gap-4">
                        <h2 class="h2">{{ current_user.left_credits }}</h2>
                        <span class="text">Credits left</span>
                    </div>
                </div>

                <div class="info flex gap-12 p-12 rounded-16 bg-card">
                    <span class="symbol p-16 rounded-8 h-fit" style="--bg: #218380;">trending_up</span>

                    <div class="text-content column gap-4">
                        <h2 class="h2" id="renewalDate">{{ current_user.renewal_date }}</h2>
                        <span class="text">Next renewal date</span>
                    </div>
                </div>
            </div>

            <div class="plans-column column gap-20">
                <h2 class="h2">Available plans</h2>

                <div class="pricing grid cols-auto-320 gap-20">
                    <div class="card column gap-12 rounded-16 p-16 bg-card">
                        <span class="mini ph-12 pv-8 bg-tertiary border w-fit rounded-full">Hobby</span>

                        <div class="pricing-title column gap-4">
                            <h1 class="h1 capitalize">Free</h1>
                            <p class="para">To discover our product and its features.</p>
                        </div>

                        {% if current_user.plan.lower() == "free" %}
                        <button class="link btn fl rounded-8 pv-16 w-full">
                            <span class="text">Downgrades automatically</span>
                        </button>
                        {% endif %}

                        <hr class="divider">

                        <div class="column gap-8">
                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">50 credits</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">Headline generation</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">ECHO EDITOR</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">ECHO STICKERS</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-red">close</span>
                                <span class="text">ECHO ANALYTICS</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-red">close</span>
                                <span class="text">ECHO REVENUE</span>
                            </div>
                        </div>
                    </div>

                    <div class="card column gap-12 rounded-16 p-16 bg-card">
                        <span class="mini ph-12 pv-8 bg-tertiary border w-fit rounded-full">Pro</span>

                        <div class="pricing-title column gap-4">
                            <div class="row v-en">
                                <h1 class="h1 lowercase">₹ 299</h1>
                                <span class="mini">/month</span>
                            </div>
                            <p class="para">Best option for small businesses &amp; startups.</p>
                        </div>

                        {% if current_user.plan.lower() == "free" %}
                        <button class="link btn fl rounded-8 pv-16 w-full" id="upgradePro">
                            <span class="text">Upgrade account</span>
                        </button>
                        {% endif %}

                        <hr class="divider">

                        <div class="column gap-8">
                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">1,500 credits</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">Headline generation</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">ECHO EDITOR</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">ECHO STICKERS</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">ECHO ANALYTICS</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">ECHO REVENUE</span>
                            </div>
                        </div>
                    </div>

                    <div class="card column gap-12 rounded-16 p-16 bg-card">
                        <span class="mini ph-12 pv-8 bg-tertiary border w-fit rounded-full">Ultra</span>

                        <div class="pricing-title column gap-4">
                            <div class="row v-en">
                                <h1 class="h1 lowercase">₹ 599</h1>
                                <span class="mini">/month</span>
                            </div>
                            <p class="para">For serious businesses and professionals.</p>
                        </div>

                        {% if current_user.plan.lower() == "free" %}
                        <button class="link btn fl rounded-8 pv-16 w-full" id="upgradeUltra">
                            <span class="text">Upgrade account</span>
                        </button>
                        {% endif %}

                        <hr class="divider">

                        <div class="column gap-8">
                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">10,000 credits</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">Headline generation</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">ECHO EDITOR</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">ECHO STICKERS</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">ECHO ANALYTICS</span>
                            </div>

                            <div class="row gap-12">
                                <span class="symbol state-green">check</span>
                                <span class="text">ECHO REVENUE</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="promo-code column gap-20 p-16 rounded-16 bg-card">
                <h2 class="h2">Promo code</h2>
                <p class="para">Promo code gets you some free credits to use.</p>

                <form action="/billing/promo-code" method="post" class="form gap-12">
                    <input required type="text" name="promo" placeholder="Enter promo code" class="input">
                    <button type="submit" class="btn fl rounded-8 ph-20 pv-12">Apply</button>
                </form>
            </div>

            <div class="payments-history column gap-20 min-h-0">
                <div class="head res-row h-sb gap-12">
                    <h2 class="h2">Payments history</h2>

                    <a href="/billing/history/export" class="link btn row gap-4">
                        <span class="symbol">file_export</span>
                        <span class="text">Export</span>
                    </a>
                </div>

                <div class="payments-table column min-h-0">
                    <div class="payment-row grid cols-3 p-12">
                        <span class="text fs-500">Date</span>
                        <span class="text fs-500 text-center">Amount</span>
                        <span class="text fs-500 text-right">Status</span>
                    </div>

                    {% for payment in current_user.payments %}
                    <div class="payment-row grid cols-3 p-12">
                        <span class="text date-text">{{ payment.date }}</span>
                        <span class="text text-center">{{ payment.amount }}</span>
                        <span class="text text-right">{{ payment.status }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/components/toast.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/billing.js') }}"></script>
</body>

</html>