<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#08090D" />
    <link rel="pre-connect" href="https://fonts.googleapis.com">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <title>Account &bull; ECHO</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/_utility.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/revenue.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='res/revenue.css') }}">

    <link rel="manifest" href="/static/manifest.json" />
</head>

<body>
    {% include 'components/msg.html' %}
    <div class="toast-container column gap-12"></div>

    {% include 'components/header.html' %}

    <main class="main column gap-20 p-20">
        <div class="head res-row h-sb gap-12">
            <div class="text-content column gap-4">
                <h1 class="h1">Hi, {{ current_user.name }} 👋</h1>
                <p class="para">Here's the sales report of your business.</p>
            </div>

            <div class="actions">
                <a href="{{ url_for('app.download_revenue') }}" class="link btn icon-fl rounded-8 ph-12 pv-8">
                    <span class="text">Export</span>
                    <span class="symbol">download</span>
                </a>
            </div>
        </div>
        <hr class="divider">

        <div class="main_body flex gap-20">
            <div class="info-col column gap-20 p-20 rounded-16 bg-card w-full">
                <span class="text fs-24">Highlights</span>

                <div class="info-card flex gap-12">
                    <div class="icon-content h-fit p-12 rounded-16">
                        <span class="symbol">finance</span>
                    </div>

                    <div class="text-content column gap-4">
                        <span class="text">Annual revenue</span>
                        <h1 class="h1">₹ 58,964.00</h1>

                        <div class="row gap-12">
                            <div class="movement">
                                <span class="symbol fs-16">keyboard_arrow_up</span>
                                <span class="mini">12%</span>
                            </div>

                            <span class="text">vs last year</span>
                        </div>
                    </div>
                </div>

                <div class="info-card flex gap-12">
                    <div class="icon-content h-fit p-12 rounded-16">
                        <span class="symbol">shopping_cart</span>
                    </div>

                    <div class="text-content column gap-4">
                        <span class="text">This month's sales</span>
                        <h1 class="h1">₹ 8,964.00</h1>

                        <div class="row gap-12">
                            <div class="movement">
                                <span class="symbol fs-16">keyboard_arrow_up</span>
                                <span class="mini">12%</span>
                            </div>

                            <span class="text">vs last month</span>
                        </div>
                    </div>
                </div>

                <div class="info-card flex gap-12">
                    <div class="icon-content h-fit p-12 rounded-16">
                        <span class="symbol">trending_up</span>
                    </div>

                    <div class="text-content column gap-4">
                        <span class="text">Sales increment</span>
                        <h1 class="h1">₹ 2,964.00</h1>

                        <div class="row gap-12">
                            <div class="movement">
                                <span class="symbol fs-16">keyboard_arrow_up</span>
                                <span class="mini">12%</span>
                            </div>

                            <span class="text">vs last month</span>
                        </div>
                    </div>
                </div>

                <div class="info-card flex gap-12">
                    <div class="icon-content h-fit p-12 rounded-16">
                        <span class="symbol">warning</span>
                    </div>

                    <div class="text-content column gap-4">
                        <span class="text">Failed payments</span>
                        <h1 class="h1">₹ 1,004.00</h1>

                        <div class="row gap-12">
                            <div class="movement">
                                <span class="symbol fs-16">keyboard_arrow_down</span>
                                <span class="mini">5%</span>
                            </div>

                            <span class="text">vs last month</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="analytics column gap-20 p-20 rounded-16 bg-card w-full">
                <div class="head row h-sb">
                    <span class="text fs-32">Recent Orders</span>

                    <div class="actions row gap-12">
                        <select id="filterPeriod" class="input">
                            <option value="month" selected>This month</option>
                            <option value="week">This week</option>
                            <option value="day">Today</option>
                        </select>

                        <a href="{{ url_for('app.export_orders') }}" class="link symbol">download</a>
                    </div>
                </div>

                <div class="analytics_body column gap-12">
                    <div class="head grid p-12 cols-4 gap-12 bg-tertiary rounded-8">
                        <p class="para">Title</p>
                        <span class="text">Amount</span>
                        <span class="text">Date</span>
                        <span class="link ">Status</span>
                    </div>

                    <div class="order grid p-12 cols-4 gap-12">
                        <span class="text ulink">#1</span>
                        <span class="text">₹154.00</span>
                        <span class="text">Sep&nbsp;01</span>                        
                        <span class="text state-green capitalize link">collected</span>
                    </div>
                    
                    <div class="order grid p-12 cols-4 gap-12">
                        <span class="text ulink">#1</span>
                        <span class="text">₹154.00</span>
                        <span class="text">Sep&nbsp;01</span>                        
                        <span class="text state-red capitalize link">failed</span>
                    </div>
                    
                    <div class="order grid p-12 cols-4 gap-12">
                        <span class="text ulink">#1</span>
                        <span class="text">₹154.00</span>
                        <span class="text">Sep&nbsp;01</span>                        
                        <span class="text state-green capitalize link">collected</span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/components/toast.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/revenue.js') }}"></script>
</body>

</html>