<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#08090D" />
    <link rel="pre-connect" href="https://fonts.googleapis.com">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <title>Settings &bull; ECHO</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/_utility.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/settings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='res/settings.css') }}">

    <link rel="manifest" href="/static/manifest.json" />
</head>

<body>
    {% include 'components/msg.html' %}
    <div class="toast-container column gap-12"></div>

    {% include 'components/header.html' %}

    <main class="main">
        <section class="section p-48 flex gap-20">
            <div class="mini-nav p-20 rounded-16 bg-card column gap-4 h-fit">
                <h3 class="h3 uppercase">Controls</h3>
                <button class="link btn fl pv-12 ph-24 fs-16 rounded-12 w-full text-left" id="profileNav"
                    data-section="profileSettings">Profile</button>
                <button class="link btn pv-12 ph-24 fs-16 rounded-12 w-full text-left" id="appearanceNav"
                    data-section="appearanceSettings">Appearance</button>
                <button class="link btn pv-12 ph-24 fs-16 rounded-12 w-full text-left" id="securityNav"
                    data-section="securitySettings">Security</button>
                <button class="link btn pv-12 ph-24 fs-16 rounded-12 w-full text-left" id="dataNav"
                    data-section="dataSettings">Data</button>
                <button class="link btn pv-12 ph-24 fs-16 rounded-12 w-full text-left" id="appNav"
                    data-section="appSettings">The Software</button>
            </div>

            <div class="settings-cards w-full">
                <div class="settings-card active p-20 rounded-16 bg-card column gap-20 h-fit w-full"
                    id="profileSettings">
                    <h1 class="h1">Profile</h1>

                    <form action="/app/settings/update/profile" method="post" class="form column gap-12">
                        <div class="form-elem column gap-4">
                            <label for="name">Name</label>
                            <input required type="text" name="name" id="name" placeholder="Your name"
                                value="{{ current_user.name }}" class="input">
                        </div>

                        <div class="form-elem column gap-4">
                            <label for="email">Email</label>
                            <input required type="email" name="email" id="email" placeholder="Your email"
                                value="{{ current_user.email }}" class="input">
                        </div>

                        <div class="form-elem column gap-4">
                            <label for="site_url">Site URL</label>
                            <input type="url" name="site_url" id="site_url" placeholder="Your site URL"
                                value="{{ current_user.site_url | default('', true) }}" class="input">
                        </div>

                        <button type="submit" class="btn fl rounded-full pv-12 ph-24">Update profile</button>
                    </form>
                </div>

                <div class="settings-card p-20 rounded-16 bg-card column gap-20 h-fit w-full" id="appearanceSettings">
                    <h1 class="h1">Appearance</h1>

                    <button class="link btn row gap-12" id="themeToggle">
                        <span class="symbol">contrast</span>
                        <span class="text">Toggle Theme</span>
                    </button>

                    <button class="link btn row gap-12" popovertarget="accentsList" id="accentsBtn">
                        <span class="symbol">palette</span>
                        <span class="text">Select accent</span>
                    </button>

                    <button class="link btn row gap-12" id="toggleShadow">
                        <span class="text">Shadow</span>

                        <div class="toggle-area">
                            <div class="toggle-body"></div>
                        </div>
                    </button>

                    <div class="rounded-12" id="accentsList" popover>
                        <div class="content column gap-8 p-12 rounded-12">
                            <button class="accent-input link btn row gap-12" id="blue">
                                <span class="sample" style="--bg: #2364AA;"></span>
                                <span class="text">Blue</span>
                            </button>

                            <button class="accent-input link btn row gap-12" id="green">
                                <span class="sample" style="--bg: #12664F;"></span>
                                <span class="text">Green</span>
                            </button>

                            <button class="accent-input link btn row gap-12" id="red">
                                <span class="sample" style="--bg: #B22222;"></span>
                                <span class="text">Red</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="settings-card p-20 rounded-16 bg-card column gap-20 h-fit w-full" id="securitySettings">
                    <h1 class="h1">Security</h1>

                    <button type="button" class="link btn row gap-12" id="securityFormTarget"
                        popovertarget="securityForm">
                        <span class="symbol">password_2</span>
                        <span class="text">Change password</span>
                    </button>

                    <div class="rounded-12 center" id="securityForm" popover>
                        <form action="/app/settings/update/security" method="post"
                            class="form content column gap-12 p-12 rounded-12 w-full">
                            <div class="form-elem column gap-12">
                                <label for="oldPassword">Current password</label>
                                <input required type="password" name="oldPassword" id="oldPassword"
                                    placeholder="Your current password" class="input">
                            </div>

                            <div class="form-elem column gap-12">
                                <label for="newPassword">New password</label>
                                <input required type="password" name="newPassword" id="newPassword"
                                    placeholder="Create a new password" class="input">
                            </div>

                            <button type="submit" class="btn fl rounded-full ph-32 pv-12">Update password</button>
                        </form>
                    </div>

                    <a href="{{ url_for('auth.logout') }}" class="link btn row gap-12 rounded-full ph-32 pv-12"
                        id="logoutBtn">
                        <span class="symbol">logout</span>
                        <span class="text">Logout</span>
                    </a>

                    <a href="{{ url_for('legal.privacy') }}" class="link btn icon-ot rounded-8 ph-12 pv-8">
                        <span class="text">Privacy Policy</span>
                        <span class="symbol">privacy_tip</span>
                    </a>
                </div>

                <div class="settings-card p-20 rounded-16 bg-card column gap-20 h-fit w-full" id="dataSettings">
                    <h1 class="h1">Data</h1>

                    <button class="link btn row gap-12" id="clearTrigger" popovertarget="clearConfirmation">
                        <span class="symbol">delete</span>
                        <span class="text">Clear history</span>
                    </button>

                    <div class="rounded-12" id="clearConfirmation" popover>
                        <div class="content column gap-20 rounded-12 p-12">
                            <div class="text-content column gap-12">
                                <h2 class="h2">Are you sure?</h2>
                                <span class="text">This action will delete all generation history.</span>
                            </div>

                            <div class="actions">
                                <a href="/app/settings/data/clear" class="ulink">Yeah, go ahead.</a>
                            </div>
                        </div>
                    </div>

                    <a target="_blank" href="/app/settings/data/export" class="link row gap-12">
                        <span class="symbol fl-icon">download_2</span>
                        <span class="text">Export data</span>
                    </a>

                    <a href="{{ url_for('legal.privacy') }}" class="link btn icon-ot rounded-8 ph-12 pv-8">
                        <span class="text">Privacy Policy</span>
                        <span class="symbol">privacy_tip</span>
                    </a>
                </div>

                <div class="settings-card p-20 rounded-16 bg-card column gap-20 h-fit w-full" id="appSettings">
                    <h1 class="h1">The Software</h1>

                    <div class="row h-sb">
                        <span class="text">Current version</span>
                        <span class="text">v.1.1.0</span>
                    </div>

                    <button class="link btn row h-sb w-full" id="toggleNotifications">
                        <span class="text">Notifications</span>

                        <div class="toggle-area">
                            <div class="toggle-body"></div>
                        </div>

                        <span class="mini info hidden"></span>
                    </button>

                    <button class="link btn res-row gap-12 w-full" id="toggleBetaMode">
                        <p class="para">Beta Mode <span class="mini">(no release yet)</span></p>

                        <div class="toggle-area">
                            <div class="toggle-body"></div>
                        </div>

                        <span class="mini info">Beta mode unlocks features that're currently in development phase, it
                            can cause crashes, but it won't cause any data loss.</span>
                    </button>

                    <div class="res-row gap-12">
                        <a href="{{ url_for('legal.privacy') }}" class="link btn icon-ot rounded-8 ph-12 pv-8">
                            <span class="text">Privacy Policy</span>
                            <span class="symbol">privacy_tip</span>
                        </a>

                        <a href="{{ url_for('legal.terms') }}" class="link btn icon-ot rounded-8 ph-12 pv-8">
                            <span class="text">Terms of Service</span>
                            <span class="symbol">gavel</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script type="module" src="{{ url_for('static', filename='js/components/toast.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/settings.js') }}"></script>
</body>

</html>