/* ================================================== */
/* BASIC */
/* ================================================== */

body {
    height: auto;
    overflow: auto;
}

/* ================================================== */
/* INFO COLUMN */
/* ================================================== */

.info-col { max-width: 360px; }

.info-col .info-card .icon-content { background-color: var(--color-accent-main); }

.info-col .info-card:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 12px;
}

.info-col .info-card .movement { color: var(--color-state-green); }

