/* ================================================== */
/* BASIC */
/* ================================================== */

main { height: calc(100dvh - 90px); }

/* ================================================== */
/* SIDEBAR */
/* ================================================== */

.sidebar { max-width: min(360px, 100%); }

.sidebar .body .product-info:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 12px;
}

/* ================================================== */
/* INFO-GRID */
/* ================================================== */

.info-grid .info-card .icon-content { background-color: var(--color-chart-background); }

.info-grid .info-card .info_text { color: #F8F7FF; }
.info-grid .info-card .info_text.status-green { background-color: var(--color-state-green); }
.info-grid .info-card .info_text.status-red { background-color: var(--color-state-red); }

/* ================================================== */
/* CHARTS-CONTENT */
/* ================================================== */

.charts-content,
.chart-area {
    min-width: 0;
    min-height: 0;
}

.charts-content .chart-area { overflow: hidden; }

.charts-content .chart-area:nth-child(1) {
    max-width: 70%;
    max-height: 100%;
}

.charts-content .chart-area:nth-child(2) {
    max-width: 30%;
    max-height: 100%;
}
