<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <title>Auvora ECHO &bull; coderadi</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/_utility.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/index.css') }}">
</head>

<body>
    {% include 'components/msg.html' %}

    <header class="header w-full pv-12">
        <section class="section ph-24 pv-20 row h-sb rounded-16">
            <div class="left">
                <a href="/" class="link row gap-12">
                    <img src="{{ url_for('static', filename='assets/icons/logo.webp') }}" alt="ECHO LOGO" class="logo">                    
                    <h1 class="h1">echo</h1>
                </a>
            </div>

            <div class="right row gap-12">
                <a href="https://github.com/coderadi-in/ECHO" class="link">
                    <img src="{{ url_for('static', filename='assets/icons/git.png') }}" alt="GITHUB" class="img">
                </a>
            </div>
        </section>
    </header>

    <main class="main h-screen column center gap-12 p-20">
        <p class="para text-center">An AI-powered virtual agent built to take on the digital and mental work that keeps business owners behind a screen.</p>

        <div class="content column h-center gap-20 p-20 rounded-16">
            <div class="mode-selection row">
                <span class="mode pv-8 text-center selected" id="signupMode">Signup</span>
                <span class="mode pv-8 text-center" id="loginMode">Login</span>
            </div>

            <form action="/auth/signup" method="post" class="form column gap-12 active" id="signupForm">
                <input type="text" name="name" placeholder="Your name" class="input">
                <input type="email" name="email" placeholder="Your email" class="input">
                <input type="password" name="password" placeholder="Create a passwrod" class="input">
                <button type="submit" class="btn fl pv-12 rounded-4 w-full">Signup</button>
            </form>

            <form action="/auth/login" method="post" class="form column gap-12" id="loginForm">
                <input required type="email" name="email" placeholder="Your email" class="input">
                <input required type="password" name="password" placeholder="Your passwrod" class="input">
                <button type="submit" class="btn fl pv-12 rounded-4 w-full">Login</button>
            </form>
        </div>

        <p class="para text-center">By signing up/logging in, you agree to our <a href="{{ url_for('legal.terms') }}" class="ulink">Terms of Service</a> and <a href="{{ url_for('legal.privacy') }}" class="ulink">Privacy Policy</a>.</p>
    </main>

    <footer class="footer w-full">
        <section class="section p-20 center gap-12">
            <a href="{{ url_for('legal.privacy') }}" class="ulink">Privacy</a>
            <span class="text">&bull;</span>
            <a href="{{ url_for('legal.terms') }}" class="ulink">Terms</a>
        </section>
    </footer>

    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>